[submodule "custom/plugins/zsh-interactive-cd"]
	path = custom/plugins/zsh-interactive-cd
	url = git@github.com:changyuheng/zsh-interactive-cd.git
[submodule "custom/plugins/zsh-z"]
	path = custom/plugins/zsh-z
	url = git@github.com:agkozak/zsh-z.git
